<section class="standard">
	<h2>Contact Us</h2>
	<p>Should you have any enquires, please don't hesitate to email us at <a href="mailto:support@invalidemail.com">support@invalidemail.com</a></p>
	<p>Alternatively, our office details are:</p>
	
	<div style="margin: 25px 50px; position: relative;">
		<div>
			<p>Simpson Desert National Park<br>
			Birdsville, QLD, 4482<br>
			Australia
			</p>
		</div>
		<div>
			<div id="google-maps-location" style="width:300px;height:300px;border:1px solid #CECECE;"></div>
		</div>
	</div>
</section>