<section class="homepage">
	<div class="slider">
		<div class="slide" style="background-image: url(/assets/todo1.gif); background-repeat:no-repeat; background-position:95% 80%; ">
			<div class="slide-content">
				<h1 class="text">Slide 1</h1>
				<h2 class="text">Explaining text</h2>
			</div>
		</div>
		<div class="slide" style="background-image: url(/assets/todo2.png); background-repeat:no-repeat; background-position:92% 75%; ">
			<div class="slide-content">
				<h1 class="text">Slide 2</h1>
				<h2 class="text">Explaining text</h2>
			</div>
		</div>
	</div>
	
	<div style="width: 368px; padding:0px 20px; display: inline-block;">
		<h3>Welcome</h3>
		<p>An example Todo list can be found <a href="./todo-list.html">here</a></p>
	</div>
	
	<div style="width: 368px; padding:0px 20px; display: inline-block; position: absolute;">
		<h3>Site Description</h3>
		<p>Sign up <a href="./signup.html">here</a> or login <a href="#" class="login-button">here</a>.</p>
	</div>
	<p>&nbsp;</p>		
</section>