<section class="standard">
	<h2>Site Map</h2>
	<ul style="display: block; height: auto">
		<li><a href="./index.html">Home</a></li>
		<li><a href="#" class="login-button">Login</a></li>
		<li><a href="./signup.html">Signup</a></li>
		<li><a href="./todo-list.html">Example Todo list</a></li>
	</ul>
	
	<h4>Company Details</h4>
	<ul style="display: block; height: auto">
		<li><%= link_to "About Us", about_path %></li>
		<li><%= link_to "Site Map", sitemap_path %></li>
		<li><%= link_to "Contact Us", contact_path %></li>
	</ul>
	
	<!--
	<h4>Miscellaneous</h4>
	<ul style="display: block; height: auto">
		<li><a href="./README.html">Readme</a></li>
		<li><a href="./references.html">References</a></li>
	</ul>
	-->
</section>